{% extends "shop/base.html" %}

{% load crispy_forms_tags %}

{% load static %}
{% load i18n %}

{% block title %}
Your shopping cart
{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3shools.com/w3css/4/w3.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/custom.css" >
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<style>
input[type=submit] {
    width: 80px;
    padding:  5px;
    margin: 8px 0;
    display: ;
    border: none;
    border-radius:;
    box-sizing: border-box;
    }

form{
    display:inline;

}
spa {
    display: inline-block;
    background-color: #d1d5db;
    width: 70px;
    height: 140px;
    }

.bat {
    width: 520px;
}
.block {
    width: 30px;
    border: non;
    height: 45px;
    display: inline-block;
    }
.bt {
    border: none;
    padding: 20px;
}

.grid-container{
    display: grid;
    column-gap:50px;
    background-color: #2196F3;
    padding: 10px;
    }

.grid-item{
    text-align: center;
    }


</style>


{% endblock %}


{% block content %}
<div class="container">
    <div class="d-flex row justify-content-center align-items-center py-md-5 py-3" style="min-height: 90vh;">
        <div class="col-12 text-center">
            <h5 class="text-dark">Make payment for:<span class="text-dark"> &#8358;{{ order.get_total_cost }}</span></h5>
            <hr>
                <script src="https://js.paystack.co/v1/inline.js"></script>
                <button class="btn btn-large btn-success rounded-pill" onclick="payWithPayStack()" id="django-paystack-button">Make Payment</button>
        </div>
    </div>
</div>
<script>
    function payWithPayStack(){
        let currency = "NGN";
        let plan = "";
        let ref = "{{ order.ref }}"
        let obj = {
            key: "{{ paystack_public_key }}",
            email: "{{ order.email }}",
            amount: "{{ order.amount_value }}",
            ref : ref,
            callback: function(response){
                window.location.href = "{% url 'orders:verify-payment' order.ref %}";
            }
        }

        if (Boolean(currency)){
            obj.currency = currency.toUpperCase()
        }
        if (Boolean(plan)){
            obj.plan = plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
</script>
{% endblock %}